<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="follow, index" />
  <meta name="description"
    content="Learning Engineer at @platzi - Microsoft MVP - Lead at Developer Circles from Meta, #JavaScript #React #Web3 #BTC #ETH - #Twitch Partner" />
  {{!-- <meta property="og:url" content="https://gndx.github.io/medpet" /> --}}
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Oscar Barajas Tavares" />
  <meta property="og:description"
    content="Learning Engineer at @platzi - Microsoft MVP - Lead at Developer Circles from Meta, #JavaScript #React #Web3 #BTC #ETH - #Twitch Partner" />
  <meta property="og:title" content="Oscar Barajas Tavares" />
  <meta property="og:image" content="https://arepa.s3.amazonaws.com/og-gndx-dev-avatar.png" />
  <meta property="og:locale" content="es_ES" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Oscar Barajas Tavares" />
  <meta name="twitter:description"
    content="Learning Engineer at @platzi - Microsoft MVP - Lead at Developer Circles from Meta, #JavaScript #React #Web3 #BTC #ETH - #Twitch Partner" />
  <meta name="twitter:image" content="https://arepa.s3.amazonaws.com/og-gndx-dev-avatar.png" />
  <meta name="twitter:site" content="@gndx" />
  <meta name="twitter:creator" content="@gndx" />
  {{!-- <link href="favicon.png" rel="icon" type="image/png" /> --}}

  <!-- Styles -->
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="antialiased text-slate-400 bg-slate-900">
  {{{body}}}
</body>

</html>