<div class="px-4 py-5 sm:p-6">
  <h3 class="text-lg font-medium leading-6 text-gray-900">Acceso Administrativo</h3>

  {{#if error}}
    <div
      class="mt-4 p-4 bg-red-50 border border-red-200 text-red-600 rounded-md"
    >
      {{error}}
    </div>
  {{/if}}

  <form action="/login" method="POST" class="mt-5">
    <div class="shadow sm:rounded-md sm:overflow-hidden">
      <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
        <div class="grid grid-cols-3 gap-6">
          <div class="col-span-3">
            <label
              for="username"
              class="block text-sm font-medium text-gray-700"
            >
              Nombre:
            </label>
            <input
              type="text"
              name="username"
              id="username"
              required
              value="{{username}}"
              class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
            />
            <label
              for="password"
              class="block text-sm font-medium text-gray-700"
            >
              Clave de acceso
            </label>
            <input
              type="password"
              name="password"
              id="password"
              required
              class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
            />
          </div>
        </div>
      </div>
      <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
        <button
          type="submit"
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Ingresar
        </button>
      </div>
    </div>
  </form>
</div>